#container1 {
  width: 600px;
  margin: 67px auto;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 25px;
}

#container2 {
  width: 400px;
  height: 600px;

  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(210, 209, 209);
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgb(210, 209, 209);

  /* gap: 60px; */
}

.time {
  font-size: 60px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 80px;
}

/* 현재 시간 넣기... */

.weather {
  font-size: 20px;
  font-weight: 540;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
}

/* 현재 시간 넣기 */

.name {
  font-size: 20px;
  font-weight: 200;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

/* .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text > span {
  width: 150px;
  letter-spacing: 0.05rem;
  font-size: 20px;
  font-weight: 500;
}

.text > input {
  padding: 5px 8px;
  border: 1px solid rgb(210, 209, 209);
  border-radius: 7px;
}

.input {
  padding: 5px 8px;
  border: 1px solid rgb(210, 209, 209);
  border-radius: 7px;
}

#check {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

#Btn1 {
  width: 80px;

  font-size: 15px;
  font-weight: 600;
  color: white;

  border: none;
  border-radius: 5px;
  background-color: rgb(170, 170, 170);

  cursor: pointer;
}

#Btn2 {
  width: 120px;
  padding: 7px;

  background-color: rgb(108, 134, 247);
  border: 1px solid rgb(210, 209, 209);
  border-radius: 7px;

  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
} */
